<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrbanClean</title>
    <style>
         body {
            font-family: 'Times New Roman', Times, serif;
        }
        .card {
            height: 400px; /* Set the desired height for the card */
        }
        .card-img-top {
            width: 100%;
            height: 200px; /* Set the desired height for the images */
            object-fit: cover; /* This will ensure the images maintain their aspect ratio */
        }
        .register-btn-container {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center mb-4">Welcome to UrbanClean</h3>
                <p class="lead text-center mb-4">
                    UrbanClean is a comprehensive online platform designed to streamline the process of reporting and resolving municipal complaints and maintenance issues. Our user-friendly interface allows you to easily register complaints related to various civic services, ensuring a clean and well-maintained urban environment.
                </p>
            </div>
        </div>
         <br>
         <div class="register-btn-container">
            <a href="/complaint" class="btn btn-success btn-lg">Register a Complaint</a>
        </div>
        <br><br>
        <h4><b>Your Complaints:</b></h4>
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <img src="https://img.freepik.com/free-vector/trash-waste-concept-with-food-glass-paper-realistic_1284-33139.jpg" alt="Dustbin" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Overfilled dustbins</h5>
                        <p class="card-text">Register a complaint for overfilled dustbins in your area.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="https://www.shutterstock.com/image-vector/bad-road-pits-potholes-on-600nw-1571532046.jpg" alt="Road" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Road Maintenance</h5>
                        <p class="card-text">Report any issues related to road maintenance and repairs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="https://media.gettyimages.com/id/1387865006/photo/technician-works-in-a-bucket-high-up-on-a-street-lights-pole.jpg?s=612x612&w=0&k=20&c=gBAW1g9HWXJfAqNxMeeIU-pUCXY3X4i84NsB7L3DIcU=" alt="Street Light" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Street Light Repair</h5>
                        <p class="card-text">Report any issues related to street light maintenance.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT90Ynqf_Df-HHYYNEvrq2tYKkg8WFGvlNmYTtU_VvnQmqpYSoV9YPtis_VjUmNiWywKXA&usqp=CAU" alt="Drain" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Drain Blockage</h5>
                        <p class="card-text">Report any issues regarding the blockage in drainages.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row mt-4">
            <div class="col-md-12">
                <h4><b>Our Solution :</b></h4><br>
                <ol class="lead">
                    <li><b>Register a complaint:</b> Simply select the appropriate service and provide the necessary details about your complaint. Our user-friendly interface ensures a hassle-free registration process.</li><br>
                    <li><b>Complaint id reviewd by the admin:</b> Our dedicated team of administrators will review your complaint and prioritize it based on its urgency and severity.</li><br>
                    <li><b>Assignment of a repair engineer or technician:</b> Once your complaint is reviewed, we will assign a skilled repair engineer or technician to address the issue promptly.</li><br>
                    <li><b>Work completion and feedback submission:</b> After the assigned technician has completed the necessary repairs or maintenance work, you will have the opportunity to provide feedback on the quality of service.</li><br>
                </ol>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>